$colors: (
    "white": hsl(0, 0%, 100%),
    "black": hsl(0, 0%, 0%),
    "dark_gray": hsl(0, 0%, 55%),
    "very_dark_gray": hsl(0, 0%, 41%)
);

$font_family: (
    "alata": "Alata",
    "josefin_sans": "Josefin Sans"
);

$font_weights: (
    "light": 300,
    "regular": 400
);

$desktop_view: 1100px;
$mobile_view: 375px;

@function fontFamily($font_name) {
    @return map-get($font_family, $font_name);
}

@function weight($weight_name) {
    @return map-get($font_weights, $weight_name);
}

@function color($color_name) {
    @return map-get($colors, $color_name);
}