@import './variables';
@import './mixins';
@import './resets';

header {
    background: url('../images/mobile/image-hero.jpg') center/cover no-repeat;
    height: 100vh;
    position: relative;
    
    .container {
        @include displayLayout(grid, start, start);
        grid-template-columns: 1fr;
        padding-top: 2em;
        height: 100%;
    }

    #navbar {
        @include displayLayout(flex, space-between, center);

        .logo {
            z-index: 2;
        }

        .nav_list {
            position: fixed;
            top: 0;
            right: 0;
            width: 0;
            height: 100%;
            padding-top: 10em;
            background: color('black');
            transition: .5s;
            z-index: 1;

            .list_item {
                max-width: 700px;
                margin: 0 auto;

                .nav_link {
                    font: weight('light') 1.5rem fontFamily('josefin_sans');
                    display: block;
                    text-transform: uppercase;
                    margin: 0 0 2rem 1.5rem;
                }
            }

            @include desktop {
                position: relative;
                width: auto;
                background: none;
                padding-top: 0;
                
                @include displayLayout(flex, space-between, center);

                .list_item {
                
                    .nav_link {
                        font: weight('regular') 0.9375rem fontFamily('alata');
                        display: block;
                        text-transform: capitalize;
                        margin: 0;
                    }
                
                }

                .list_item + .list_item { margin-left: 2rem; }
            }

        } /* End of nav_list */

        .nav_icons {
            @include displayLayout(flex, center, center);
            position: relative;

            .toggle_btn {
                position: absolute;
                right: 0;
                z-index: 2;
            }

            .menu_close { 
                display: none; 
            }

            @include desktop {
                display: none;
            }
        }

    } /* End of navbar */

    .header_content {
        border: 2px solid color('white');
        padding: 1.5em;
        width: 100%;

        .heading_h1 {
            font-size: 2.5rem;
            opacity: 1;
        }
    }

    @include desktop {
        background: url('../images/desktop/image-hero.jpg') center/cover no-repeat;
        height: 85vh;

        .container {
            padding-top: 4em;
        }

        .header_content {
            max-width: 60%;

            .heading_h1 {
                font-size: 5rem;
            }
        }
    }

} /* End of header */

main {

    section {
        margin-top: 6rem;

        @include desktop {
            margin-top: 12rem;
        }
    }

    .section_interactive {
        .heading_h2 {
            margin: 2.5rem 0 1rem;
        }

        @include desktop {
            .Interactive_content {
                background: color('white');
                align-self: end;
                padding: 4em 0 0 7em;
                margin-left: -140px;
            }

            img {
                width: 100%;
            }
        }
    }

    .section_creations {
        @include displayLayout(grid, center, center);
        grid-template-columns: 1fr;
        
        .heading_h2 {
            margin-bottom: 3rem;

            @include desktop {
                margin: 0;
            }
        }

        .btn {
            order: 1;
            justify-self: center;
            margin: 2rem 0;
            padding: 1em 3em;
            letter-spacing: 5px;
            border: 2px solid color('dark_gray');

            @include desktop {
                order: 0;
                margin: 0;
                justify-self: flex-end;
            }
        }

        .figure_creations {
            position: relative;
            margin-top: 1.5rem;

            figcaption {
                position: absolute;
                top: 0;
                font-size: 1.7rem;
                text-align: left;
                margin: 50px 0 10px 20px;

                @include desktop {
                    margin-top: 400px;
                }
            }

            .light_overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                background: color('white');
                transition: .5s;
                opacity: 0;
                cursor: pointer;
            }

            &:hover .light_overlay {
                opacity: .5;
            }

            &:hover .light_overlay + figcaption {
                color: color('black');
            }

            @include desktop {
                img {
                    width: 100%;
                }
            }
        }
    } /* End of section_creations */

    @include desktop {
        .row {
            @include displayLayout(grid, space-between, center);
            grid-template-columns: 1.7fr 1fr;
            
        }

        .creations_img {
            grid-column: span 2;
            @include displayLayout(grid, space-between, center);
            grid-template-columns: repeat(4, 1fr);
            column-gap: 1.5rem;
            margin-top: 3.5rem;
            margin-bottom: 7rem;
        }
    }

} /* End of main */

footer {
    background: color('black');
    margin-top: 4rem;
    padding: 4em 0 1em 0;

    .row {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        text-align: center;

        .logo {
            margin-bottom: 2.5rem;

            @include desktop {
                margin-bottom: 0;
            }
        }

        .nav_list {

            .list_item + .list_item {
                margin-top: 1rem;

                @include desktop {
                    margin-top: 0;
                    margin-left: 2rem;
                }
            }

            @include desktop {
                @include displayLayout(flex, flex-start, center);
            }
        }

        .icons {
            order: 1;
            margin: 2.5rem 0 .5rem;

            @include desktop {
                order: 0;
                margin: 0;

                justify-self: end;
            }
        }
    
        .copyright {
            order: 2;

            @include desktop {
                order: 0;
                justify-self: end;
            }
        }

        @include desktop {
            grid-template-columns: repeat(2, 1fr);
            justify-items: start;
            text-align: left;
        }
    } /* End of row */

    .attribution {
        text-align: center;

        @include desktop {
            text-align: left;
            margin: 2rem 0 0;
        }
    }
}